body{
  overflow: hidden;
  margin:0;
}
header a{
  color:#fff;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
/*
    @ blink-stop v1.0
    DESC: Prevent blinking cursor. Since the ::all selector is so slow,
          we define all HTML elements that are cross-browser supported.
    (c) MIT Tyler Ruff; Blazed Labs LLC
*/

div, table, button, a, i, span, body, html,
section, article, p, svg, h1, h2, h3, h4, h5, var,
h6, hr, br, thead, tr, th, td, footer, main, header,
aside, b, strong, blockquote, code, cite, col, colgroup,
input[type=submit], input[type=radio], input[type=checkbox],
input[type=color], input[type=date], input[type=file],
input[type=hidden], input[type=image], input[type=reset],
input[type=button], input[type=range], form, dl, dt, dd,
iframe, label, legend, ul, li, img, caption, dfn, em, tfoot,
fieldset, nav, ol, option, pre, select, sup, sub, tbody {
    caret-color: rgba(0,0,0,0);
}

/*
    Define cursor blinking color for text-based input types
*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=tel]:focus, input[type=text]:focus, input[type=number]:focus,
input[type=search]:focus, input[type=url]:focus, textarea:focus {
    caret-color: rgba(0,0,0,1);
}